In [1]:
// new 키워드를 사용해서, 배열을 미리 선언하고, 데이터를 넣을 수도 있음
Integer[] data_list = new Integer[10];
data_list[0] = 1;

1

In [2]:
// 직접 배열 데이터 선언시 넣을 수도 있음
Integer data_list[] = {5, 4, 3, 2, 1};
Integer[] data_list2 = {1, 2, 3, 4, 5};

System.out.println(data_list2[0]);

1

In [3]:
import java.util.Arrays;

// 배열의 내용을 출력하려면, Arrays.toString(배열변수) 메서드를 사용하면 됨
System.out.println(Arrays.toString(data_list2));

[1, 2, 3, 4, 5]

In [4]:
// JAVA 에서는 기본적으로 java.util 패키지에 가변 크기의 배열을 다룰 수 있는 ArrayList 클래스도 제공하고 있음
import java.util.List;
import java.util.ArrayList;

List<Integer> list1 = new ArrayList<Integer>(); // int형 데이터를 담을 수 있는 가변 길이의 배열 선언

In [5]:
// 배열에 아이템 추가 시 add(아이템) 메서드 사용
list1.add(1);
list1.add(2);

// 배열에 특정 아이템을 읽을 시 get(인덱스 번호) 메서드 사용
System.out.println(list1.get(0));

1

In [6]:
// 특정 인덱스에 해당하는 아이템 변경 시, set(인덱스 번호, 변경할 값) 메서드 사용
list1.set(0, 5);
System.out.println(list1.get(0));

5

In [7]:
// 특정 인덱스에 해당하는 아이템 삭제 시, remove(인덱스 번호) 메서드 사용
list1.remove(0);
System.out.println(list1.get(0));

2

In [8]:
// 배열 길이 확인하기
list1.size();

1

In [9]:
// JAVA 에서는 기본 문법으로 다차원 배열도 작성 가능(2차원 배열)
Integer data_list[][] = {{1, 2, 3}, {4, 5, 6}};

// 데이터 2 인덱스로 지정해서 출력해보기
System.out.println(data_list[0][1]);

// 데이터 5 인덱스로 지정해서 출력해보기
System.out.println(data_list[1][1]);

2
5

In [10]:
// JAVA 에서는 기본 문법으로 다차원 배열도 작성 가능(3차원 배열)
Integer[][][] data_list = {
    {
        {1, 2, 3},
        {4, 5, 6}
    },
    {
        {7, 8, 9},
        {10, 11, 12}
    }
};

// 데이터 5 인덱스로 지정해서 출력해보기
System.out.println(data_list[0][1][1]);
// 데이터 12 인덱스로 지정해서 출력해보기
System.out.println(data_list[1][1][2]);

5
12

In [12]:
// 위 차원 배열에서 8, 10, 2를 순서대로 각각의 라인에 출력해보기
System.out.println(data_list[1][0][1]);
System.out.println(data_list[1][1][0]);
System.out.println(data_list[0][0][1]);

8
10
2

In [13]:
String dataset[] = {
    "Braund, Mr. Owen Harris",
    "Cumings, Mrs. John Bradley (Florence Briggs Thayer)",
    "Heikkinen, Miss. Laina",
    "Futrelle, Mrs. Jacques Heath (Lily May Peel)",
    "Allen, Mr. William Henry",
    "Moran, Mr. James",
    "McCarthy, Mr. Timothy J",
    "Palsson, Master. Gosta Leonard",
    "Johnson, Mrs Oscar W (Elisabeth Vilhelmina Berg)",
    "Nasser, Mrs. Nicholas (Adele Achem)",
    "Sandstorm, Miss. Marguerite Rut",
    "Bonnell, Miss. Elizabeth",
    "Saundercock, Mr. William Henry",
    "Andersson, Mr. Anders Johan",
    "Vestorm, Miss. Hulda Amanda Adolfina",
    "Hewlett, Mrs. (Mary D Kingcome)",
    "Rice, Master, Eugene",
    "Williams, Mr. Charles Eugene",
    "Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",
    "Masselmani, Mrs. Fatima",
    "Fynney, Mr. Joseph J",
    "Beesley, Mr. Lawrence",
    "Emir, Mr. Rarrend Chehab",
    "Fortune, Mr. Charles Alexander",
    "Dwyer, Miss. Ellen",
    "Todoroff, Mr. Lalio"
};

In [17]:
// 위 1차원 배열에서, 문자 M을 가지고 있는 아이템 수를 출력해보기
// 배열.length: 배열에 들어 있는 아이템 갯수
// 문자열.indexOf(String key): 문자 key가 해당 문자열에 있으면 해당 문자의 위치를 리턴하고, 없으면 -1을 리턴함

int i = 0;
for (String str : dataset) {
    if (str.indexOf("M") > -1) i++;
}
System.out.println(i);

26